.btn {
  display: block;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 14px;
}

.btn__block {
  //display: block;
  width: 100%;
  height: 30px;
  background-color: rgb(68, 138, 154);
}
.btn-container {
  display: flex;
  gap: 10px;
}
.btn__register {
  display: inline-block;
  margin-top: 15px;
  width: 80px;
  height: 30px;
  background-color: lightgray;
  padding: 8px 10px 8px 10px;
  color: black;
}
.btn-user {
  display: flex;
  width: auto;
  height: auto;
  padding: 7px;
  border-radius: 5px;
  //position: relative;
  justify-content: center;
  gap: 0 0.5rem;
  align-items: center;
  font-size: 16px;
  background-color: $color-blue;
  text-transform: capitalize;
}

.btn-dropdown {
  width: 100%;
  font-size: 16px;

  height: auto;
  padding: 7px;
  border-radius: 5px;
  background-color: $color-blue-light;
}
.btn-toggle {
  display: block;
}

.btn-small-sidebar-close {
  color: red;
  background-color: #fff;
  border: none;
  display: block;
  cursor: pointer;
  margin: 30px;
}
.btn-view {
  width: auto;
  background-color: #fff;
  color: black;
  padding: 8px 6px;
}
.btn-edit {
  background-color: #fff;
  color: black;
}
.btn-delete {
  background-color: #fff;

  color: red;
}
