.btn {
	display: block;
	border-radius: 5px;
	border: transparent;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 14px;
	background-color: $color-btn;
	color: #fff;
	padding: 8px 10px;
	transition: all 1s;
}

.btn:hover {
	background-color: $color-btn-hover;
	color: black;
}

.btn__block {
	width: 100%;
	//height: 30px;
}
.btn-container {
	display: flex;
	gap: 10px;
}
.btn__register {
	display: inline-block;
	margin-top: 15px;
	width: 80px;
	height: 30px;
	background-color: lightgray;
	padding: 8px 10px 8px 10px;
	color: black;
	letter-spacing: 2px;
}
.btn-user {
	display: flex;
	width: auto;
	height: auto;
	padding: 7px;
	border-radius: 5px;
	justify-content: center;
	gap: 0 0.5rem;
	align-items: center;
	font-size: 16px;
	background-color: $color-btn;
	text-transform: capitalize;
}

.btn-dropdown {
	width: 100%;
	font-size: 16px;

	height: auto;
	padding: 7px;
	border-radius: 5px;
	background-color: $color-btn;
}
.btn-toggle {
	display: block;
}

.btn-small-sidebar-close {
	color: red;
	background-color: #fff;
	border: none;
	display: block;
	cursor: pointer;
	// margin: 30px;
	position: absolute;
	font-size: 24px;
	top: 10px;
	right: 10px;
}
.btn-view {
	width: auto;
}
.btn-edit {
	background-color: #fff;
	color: green;
	font-size: 20px;
}
.btn-delete {
	background-color: #fff;
	color: red;
}
.btn-create {
	font-size: 16px;
	padding: 0px 0px;
	height: 25px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.btn-create-slide {
	width: auto;
	padding: 7px 15px;
}

.btn-prev {
	position: absolute;
	left: 0;
	top: 100px;
	background-color: #000;
}
.btn-next {
	position: absolute;
	right: 0;
	top: 100px;
	background-color: #000;
}
.btn__start,
.btn__pool {
	height: 30px;
	display: flex;
	align-self: center;
	background-color: #fff;
	color: #000;
}
.btn__hero {
	width: auto;
	letter-spacing: 1px;
}

.btn__end-presentation {
	width: 50%;
}
