.create-slide {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1.5rem;
	@include atSmall {
		grid-template-columns: 3fr 1fr;
		column-gap: 40px;
	}

	&__name {
		text-align: left;
		h1 {
			margin-bottom: 25px;
		}
	}

	&__create {
		margin: 0 auto;
		width: 96%;
		text-align: left;

		h1 {
			margin-bottom: 25px;
		}
	}
}
