.form__container {
  width: 400px;
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
  margin: 0 auto;
}

.form__row {
  padding-bottom: 15px;
}
.form__label {
  text-align: left;
  display: block;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.form__input {
  width: 100%;
}
