.home-main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  justify-content: space-evenly;
  background-color: var($color-background-silver);
}

.home-hero img {
  width: 300px;
  height: auto;
}

.home-main__left-title {
  color: #3b82f6;
  margin-bottom: 2rem;
}
.home-hero-banner {
  text-align: left;
}
.home-hero-info {
  font-weight: 400;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
