.nav-common {
	height: 100px;
	margin-bottom: 3rem;
	text-align: center;
	font-size: 0.7rem;
	@media screen and (min-width: 992px) {
		display: flex;
		column-gap: 1rem;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.5rem;
		font-size: 0.9rem;
	}
	&-logo {
		width: 50px;
		height: 50px;
		border-radius: 5px;

		@include atLarge {
			width: 60px;
			height: 60px;
		}
	}
	&__banner {
		color: #0f7acbe7;
		margin-top: 15px;
		margin-bottom: 25px;
		@include atLarge {
			margin-top: 0;
		}
	}
}
