.presentation-create {
  max-width: 500px;
  margin: 0 auto;
}
.presentation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background-silver;
  margin-bottom: 15px;
  padding: 8px 20px;
  border-radius: 5px;
}
