.view-slide {
  //padding: 25px;
  width: 650px;
  max-width: 800px;
  box-sizing: border-box;
  margin: 30px auto;
  padding-left: 25px;
  padding-right: 25px;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    text-transform: capitalize;
  }
  &__body {
    text-align: left;
    padding-bottom: 20px;
  }
  &__image {
    width: 500px;
    max-width: 700px;
    max-height: 300px;
    object-fit: cover;
    padding-bottom: 25px;
  }
  &__question {
    text-align: left;
  }
}
.slide-display {
  position: relative;
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.8s;
}
.slide-active {
  opacity: 1;
  transform: translate(0);
}
.slide-last {
  transform: translateX(-100%);
}
.slide-next {
  transform: translateX(100%);
}
.prev {
  position: absolute;
  left: 0;
  top: 100px;
}
.next {
  position: absolute;
  right: 0;
  top: 100px;
}
