$color-background-grey: #f0f4f8;
$color-background-list: #fff;
//$color-btn: rgb(68, 138, 154);
$color-btn: #3b82f6;
$color-btn-hover: rgb(192, 222, 228);
$color-background-silver1: rgb(234, 239, 238);
$color-background-silver: rgb(236, 239, 243);
$color-blue: #5c89c1;
$color-blue-light: #b5cdeb;
