.App {
  text-align: center;
  max-height: 100vh;
  /* min-height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.notFound {
  margin:10rem auto;
  font-size: xx-large;
}
/* *********** Header ************* */
.header {
  background-color: #333;
  display:flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  color: white;
  width:100%;
  position: fixed;  
}

/* *********** Main Div ************* */
.maindiv {
  width:100%;
  /* max-height: 70vh; */
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: max(3%, 7vh);
}

/* *********** Carousel ************* */
.slides_div {
  width: 50%;
  min-height: fit-content;
}

/* ************** QR Div *****************/
 .qr_div {
   display: flex;
   flex-direction: column;
   font-size: xx-large;
   font-weight: bold;
   justify-items: flex-start;
 }

 .qr_div p {
   margin-bottom: 10%;
 }

 .qr_code {
   margin-left: 30%;
 }

/* *********** Footer ************* */
.footer {
  background-color: #333;
  display:flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width:100%;  
  bottom: 0;
  position: absolute;
  height: 50px;
  margin-top: -50px;
}

.show_res_link {
  text-decoration: none;
  color: white;
  
}

/* ****************  Responsiveness (for mobile devices)**************** */
@media screen and (min-width: 900px) {
  .maindiv {
    flex-direction: row;
  }

  .qr_code {
    margin-left: 0%;
    margin-bottom: 10%;
  }
 }